.App {
  text-align: center;
  background-color: #F6FFF8;
  color: #245c43;
}

#main-panel{
  display: flex;
  min-height: 100vh;
  max-height: auto;
}

#left-panel{
  width: 20%;
  background-color: #CCE3DE;
  min-height: 100vh;
  max-height: auto;
}

#right-panel{
  width: 80%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

#results-main{
  text-align: left;
}

#example-text {
  font-style: italic;
}

#definition-panel {
  background-color: #EAF4F4;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#search-panel {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


